@model project.pole.Models.Object

<div class="address">
    @using (Html.BeginRouteForm("rrr", FormMethod.Post,
        new { @class = "js-form-address" }))
    {
        <div class="field">
            @Html.LabelFor(m => m.Name, new { @class = "col-form-label" })
            @Html.TextBoxFor(m => m.Name, new { @disabled = "disabled" })
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Region, new { @class = "col-form-label" })
            @Html.TextBoxFor(m => m.Region, new { @disabled = "disabled" })
        </div>
        <div class="field">
            @Html.LabelFor(m => m.District, new { @class = "col-form-label" })
            @Html.TextBoxFor(m => m.District, new { @disabled = "disabled" })
        </div>
        <div class="field">
            @Html.LabelFor(m => m.City, new { @class = "col-form-label" })
            @Html.TextBoxFor(m => m.City, new { @disabled = "disabled" })
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Street, new { @class = "col-form-label" })
            @Html.TextBoxFor(m => m.Street, new { @disabled = "disabled" })
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Building, new { @class = "col-form-label" })
            @Html.TextBoxFor(m => m.Building, new { @disabled = "disabled" })
        </div>
        <div>
            <button id="btn-enable" type="button">Редактировать</button>
            <button id="btn-cancel" type="reset">Отмена</button>
            <button id="btn-submit" type="submit" style="display: none">Сохранить</button>
        </div>
    }
</div>