@model project.pole.Models.Customer

<section class="form-dadata">
    @using (Html.BeginForm(FormMethod.Post,
        new {@class = "js-form-address"}))
    {
        <div class="field">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Region)
            @Html.TextBoxFor(m => m.Region, new {@id = "region"})
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Area)
            @Html.TextBoxFor(m => m.Area, new {@id = "area"})
        </div>
        <div class="field">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new {@id = "city"})
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Settlement)
            @Html.TextBoxFor(m => m.Settlement, new {@id = "settlement"})
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Street)
            @Html.TextBoxFor(m => m.Street, new {@id = "street"})
        </div>
        <div class="field">
            @Html.LabelFor(m => m.House)
            @Html.TextBoxFor(m => m.House, new {@id = "house"})
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Flat, new {@id = "Flat"})
            @Html.TextBoxFor(m => m.Flat)
        </div>
        <div>
            <button id="btn-submit" class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    }
</section>