@using Object = project.pole.Models.Object

@{
    ViewBag.Title = "Список объектов";
    Layout = "_Layout";
}

<div>

    <button type="button" onclick="location.href='@Url.RouteUrl("object_create_route")'">Добавить</button>
    
    <h3>@ViewBag.Title</h3>
    <table>
        <tr class="card-header">
            <td>
                <p>Объекты</p>
            </td>
        </tr>
        @foreach (Object obj in Model)
        {
            <tr class="border-bottom">
                <td class="border-0">
                    <a asp-route="object_show_route" asp-route-id="@obj.Id">@obj.Name</a>
                </td>
                <td>
                    <a asp-route="object_delete_route" asp-route-id="@obj.Id">Удалить</a>
                </td>
            </tr>
        }
    </table>
</div>
