@using Customer = project.pole.Models.Customer

@{
    ViewBag.Title = "Список заказчиков";
    Layout = "_Layout";
}

<div>
    <h3>@ViewBag.Title</h3>

    <br/>

    <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.RouteUrl("customer_create_route")'">Добавить</button>

    <table class="table table-bordered table-invers">
        <thead class="thead-inverse">
        <tr>
            <th width="10%">
                <p>Действия</p>
            </th>
            <th>
                <p>Заказчики</p>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (Customer customer in Model)
        {
            <tr>
                <th>
                    <a asp-route="customer_delete_route" asp-route-id="@customer.Id"><img src="/image/icon/icon_delete.png" alt="Удалить"/></a>
                    <a asp-route="customer_object_work_route" asp-route-customerId="@customer.Id"><img src="/image/icon/customer/icon_list.png" alt="Добавить список объектов"/></a>
                    <a asp-route="object_work_create_route" asp-route-customerId="@customer.Id"><img src="/image/icon/customer/icon_add.png" alt="Открыть список объектов"/></a>
                </th>
                <th class="border-0">
                    <a asp-route="customer_show_route" asp-route-id="@customer.Id ">@customer.Name</a>
                </th>
            </tr>
        }
        <tbody>
    </table>
</div>