@using Customer = project.pole.Models.Customer

@{
    ViewBag.Title = "Список заказчиков";
    Layout = "_Layout";
}

<div>

    <button type="button" onclick="location.href='@Url.RouteUrl("customer_create_route")'">Добавить</button>

    <h3>@ViewBag.Title</h3>

    <br/>

    <table class="table table-bordered table-invers">
        <thead class="thead-inverse">
        <tr>
            <th width="10%">
                <p>Действия</p>
            </th>
            <th>
                <p>Заказчики</p>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (Customer customer in Model)
        {
            <tr>
                <th>
                    <a asp-route="customer_delete_route" asp-route-id="@customer.Id"><img src="image/icon/icon_delete.png" alt="Удалить"/></a>
                    <a asp-route="estimate_create_route" asp-route-id="@customer.Id"><img src="image/icon/icons_estimate.png" alt="Сформировать смету"/></a>
                </th>
                <th class="border-0">
                    <a asp-route="customer_show_route" asp-route-id="@customer.Id ">@customer.Name</a>
                </th>
            </tr>
        }
        <tbody>
    </table>
</div>