@using Customer = project.pole.Models.Customer

@{
    ViewBag.Title = "Список заказчиков";
    Layout = "_Layout";
}

<div>

    <button type="button" onclick="location.href='@Url.RouteUrl("customer_create_route")'">Добавить</button>

    <h3>@ViewBag.Title</h3>

    <table class="table">
        <thead class="thead-inverse">
        <tr class="card-header">
            <th>
                <p>Заказчики</p>
            </th>
            <th>
                <p>Действия</p>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (Customer customer in Model)
        {
            <tr class="border-bottom">
                <th class="border-0">
                    <a asp-route="customer_show_route" asp-route-id="@customer.Id">@customer.Name</a>
                </th>
                <th>
                    <a asp-route="customer_delete_route" asp-route-id="@customer.Id">Удалить</a>
                    <a asp-route="estimate_create_route" asp-route-id="@customer.Id">Сформировать смету</a>
                </th>
            </tr>
        }
        <tbody>
    </table>
</div>